@import '../../common/colors.scss';

.footer{
    background-color: $secondary-color;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $font-primary;
    font-size: 14px;
    position: relative;
    bottom:0;
    width: 100%;
}